body
{
  background-image:url(../images/cloud.jpg);
  margin:0 auto;
  padding:0;
  height:100%;
}

#container 
{
  width: 960px;
  min-width:960px;
  min-height:100%;
  position:relative;
  padding-top: 15px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left:auto;
  margin-right:auto;
  margin-top:auto;  
  margin-bottom:auto;
}

#nav
{
  float:right;
  clear:right;
  padding-right:0;
  padding-top: 15px; 
  width:20%; 
  text-align:right; 
  margin-left:auto;
  margin-right:auto;  
}

#content
{
  width:80%;
  padding-top:0px;
  padding-bottom:0px;
  border: 10px solid rgba(79,148,205,0.15);
  opacity:0.95;
  width:745px;
}

#footer 
{
  font-family:Times,Bookman,TimesNewRoman;
  color:#4A708B;  
  background-color: #ffffff;
  width:auto;
  height:160px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 4px solid #4A708B;
  clear:both;
}

#h1 
{ 
  font-family:CourierNew,Courier,Lucidatypewriter,Fixed; 
  font-size:30px;
  color:#4A708B;
  height:75px;
  padding-bottom:20px;
  width:auto;
}

#h2
{
  font-family:CourierNew,Courier,Lucidatypewriter,Fixed; 
  background-color:#ffffff;
  width:745px;
}

#h3
{
  font-family:CourierNew,Courier,Lucidatypewriter,Fixed; 
  background-color:#ffffff;
  width:745px;
}

p
{
  font-family:TimesNewRoman,Palatino,Bookman; 
  background-color:#ffffff;
  font-size:14px;
  padding-left:10px;
  padding-right:5px;
  padding-top: 5px;
  padding-bottom: 10px;
  text-wrap:unrestricted;
}

#h2 a 
{
  color:#4A708B;
  text-decoration:underline;
  font-weight:bold;
  font-family:Geneva;
  font-size:12px;
}

#footer a 
{
  color:#4A708B;
  text-decoration:underline;
  font-weight:bold;
  font-family:Geneva,Courier,CourierNew;
  font-size:16px;
}
#footer a:hover
{
  color:lightblue;
}

#nav a
{
  color:#4A708B;
  text-decoration:none;
  font-weight:bold;
  font-family:Times,Bookman,Old,NewTimesRoman;
  font-size:22px;
 }
#nav a:hover
{
  color:lightblue;
}

ol
{
  font-size:14px;
  font-family:Times,NewTimesRoman,Bookman,Old;
}

ul 
{
  font-size:14px;
  font-family:Times,NewTimesRoman,Bookman,Old;
}

dl
{
  font-size:14px;
  padding-left:10px;
  font-family:Times,NewTimesRoman,Bookman,Old;
  padding-bottom:0px;
}

.centre
{
  text-align:center;
}

.right
{
  text-align:right;
}

.left
{
  text-align:left;
}

.justify
{
  text-align:justify;
}

.titlecolor
{
  color:#423042;
}

.textcolor
{
  color:#000000;
}

.bold
{
  font-weight:bold;
} 

.lighter
{
  font-weight:lighter;
}

.italic
{
  font-style:italic;
}

.oblique
{
  font-style:oblique;
}

.titlesize
{
  font-size:26px;
}

.titlefont
{
  font-family:Times,TimesNewRoman,Palatino,Bookman}

.float
{
  float:left;
  padding-left:50px;
}

.imagefloat
{
  float:left;
}

.backgroundimage
{
  background-image:url(images/cloud.jpg);
}

.floatright
{
  float:right;  
}

.width
{
  width:600px;
}

.paragraphwidth
{
  width:700px;
}

.overline
{
  text-decoration:overline;
}