body {
	text-align:center;
	font-family: 'Dosis', sans-serif;
	font-size:24px;
  	margin:0 auto;
  	padding:0;
  	height:100%;
}

#nav 
    	padding-right:0;
  	width:100%; 
  	margin-left:0;
  	margin-right:0;  
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
} 

.active {
    background-color: #FF6347;
} 

h1 {
  	font-size:30px;
  	color:#FF6347;
	width:auto;
}

h2 {
	width: auto;
}


footer {
	position:fixed;
	bottom:0;
	font-size: 14px;
	padding: 1%;
}
