body {
	text-align:center;
	font-family: 'Dosis', sans-serif;
	font-size:24px;
  	margin:0 auto;
  	padding:0;
  	height:100%;
}

#nav {
    	padding-right:0;
  	width: 100%; 
  	margin-left:0;
  	margin-right:0;  
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    padding-top:20px;
    padding-bottom:20px;
}

li {
    float: right;
}

li a {
    display: block;
    color: #FF6347;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #FF6347;
} 


h1 {
  	font-size:30px;
  	color:#FF6347;
	width:auto;
	text-decoration: none;
	padding-bottom: 20px;
}

h1 a {
	color: #FF6347;
	text-decoration: none;
}

h2 {
	width: auto;
	font-size: 20px;
	padding-bottom: 20px;
	padding-right: 100px;
	padding-left:100px;
}


footer {
	position:fixed;
	bottom:0;
	font-size: 14px;
	padding: 1%;
}
