body {

	text-align:center;

	font-family: 'Dosis', sans-serif;

	font-size:24px;

  	margin:0 auto;

  	padding:0;

  	height:100%;

}


#nav

{

    	padding-right:0;

  	padding-top: 0; 

  	width:100%; 


  	margin-left:0;

  	margin-right:0;  

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}


li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #FF6347;
} 


h1 {

  	font-size:30px;

  	color:#FF6347;

  	height:75px;

  	padding-bottom:20px;

  	width:auto;
	float: left;

}





p {

	font-size:18px;

	background:#ffffff;

}



footer {

	position:fixed;

	bottom:0;

	font-size: 14px;

	padding: 1%;

}
