body {

	text-align:center;

	font-family: 'Dosis', sans-serif;

	font-size:24px;

  	margin:0 auto;

  	padding:0;

  	height:100%;

}

h1
{
	float: left;
}


#container 

{

  	width: 960px;

  	min-width:960px;

  	min-height:100%;

  	position:relative;

  	padding-top: 15px;

  	padding-bottom: 2px;

  	padding-left: 10px;

  	padding-right: 10px;

  	margin-left:auto;

  	margin-right:auto;

  	margin-top:auto;  

  	margin-bottom:auto;

}



#content

{

  width:80%;

  padding-top:0px;

  padding-bottom:0px;

  border: 10px solid rgba(79,148,205,0.15);

  opacity:0.95;

  width:745px;

}



#nav

{

    	padding-right:0;

  	padding-top: 0; 

  	width:100%; 


  	margin-left:0;

  	margin-right:0;  

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #FF6347;
} 


h1 {

  	font-size:30px;

  	color:#FF6347;

  	height:75px;

  	padding-bottom:20px;

  	width:auto;

}





p {

	font-size:18px;

	background:#ffffff;

}



footer {

	position:fixed;

	bottom:0;

	font-size: 14px;

	padding: 1%;

}
